extends layout

block content
  .page-header
    h3 Analyses
    hr

  if analyses.length == 0
    p No analyses
  else
    for analysis in analyses
      p #{analysis.sraId}
      p #{analysis.startTime}
      p #{analysis.completeTime}
      hr
